@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<title>Sistema Interconectado Central</title>
<h2>Sistema de control de Produccion y Distribucion de Energia Electrica</h2>

@Html.Label("Seleccione una opcion...")
<table>
    <tr>
        <td><a href="../Home/Productores">GESTION DE PRODUCTORES Y PRODUCCION.</a></td>
    </tr>
    <tr>
        <td><a href="../Home/Estaciones">CONTROLAR ESTACIONES PRIMARIAS.</a></td>
    </tr>
    <tr>
        <td><a href="../Home/Monitorear">Monitorear  subestaciones de distribucion.</a></td>
    </tr>

</table>

