@{
    ViewBag.Title = "Home2";
}

<h2>Home2</h2>



<title>Sistema Interconectado Central</title>
<h2>Sistema de control de Produccion y Distribucion de Energia Electrica</h2>

@Html.Label("Seleccione una opcion...")
<table>
  
    <tr>
        <td><a href="../Home/Monitorear">Monitorear  subestaciones de distribucion.</a></td>
    </tr>

</table>
