@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "index";
}

<h2> Acceso al Sistema</h2>
<form action="../Home/Home" method="post">
    <table>
        <tr><td> @Html.TextBox("usuario") </td> <td>@Html.Label("usuario") </td></tr>
        <tr><td> @Html.Password("contrasenia") </td> <td>@Html.Label("contrasenia") </td></tr>
        <tr>
          
            <td><input type="radio" name="tipo" value="Administrador">Administrador</td>
            <td><input type="radio" name="tipo" value="Usuario"> Usuario</td>
        </tr>
        <tr><td> <input type="submit" value="Ingresar" /> </td></tr>
    </table>


</form>
