<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Prueba1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>control</servlet-name>
    <servlet-class>servlets.Controlador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>control_usuario</servlet-name>
    <servlet-class>servlets.ControladorUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>control_usuario</servlet-name>
    <url-pattern>/control_usuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>control</servlet-name>
    <url-pattern>/control</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>control_lista</servlet-name>
    <servlet-class>servlets.ControladorLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>control_lista</servlet-name>
    <url-pattern>/control_lista</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>control_actualizar</servlet-name>
    <servlet-class>servlets.ControladorActualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>control_actualizar</servlet-name>
    <url-pattern>/control_actualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>control_eliminar</servlet-name>
    <servlet-class>servlets.ControladorEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>control_eliminar</servlet-name>
    <url-pattern>/control_eliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>control_lista2</servlet-name>
    <servlet-class>servlets.ControladorLista2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>control_lista2</servlet-name>
    <url-pattern>/control_lista2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>control_buscar</servlet-name>
    <servlet-class>servlets.ControladorBuscar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>control_buscar</servlet-name>
    <url-pattern>/control_buscar</url-pattern>
  </servlet-mapping>
</web-app>