@{
    ViewBag.Title = "index";
}

<h2> Acceso al Sistema</h2>



<form action="../Home/Home" method="post">
    <table>
        
        <tr><td> <input type="text" name="usuario"> usuario  </td></tr>
        <tr><td> <input type="password" name="contrasenia"> contrasenia  </td></tr>
        <tr><td> <input type="submit" value="Ingresar"/> </td></tr>
     </table>

</form>
