
@{
    ViewBag.Title = "resultado";
    }

@model List<MvcDatos1.Models.Home.Usuario>

<h2>usuario actualizado</h2>

<table>
    <tr><td><a href="../Home/Usuarios"> ir a listado de usuarios</a></td></tr>
    <tr><td><a href="../Home/index"> ir a inicio</a></td></tr>

</table>