
@{
    ViewBag.Title = "Conversion";
}




<table align="center">
   
    <tr><td>el resultado es: @ViewData["resultado"]</td></tr>

    <tr><td><a href="../Home/index" /> volver</td></tr>


</table>
 




